.w3 {
  width: 147px; /* 49 * 3 */
}

.w4 {
  width: 196px; /* 49 * 4 */
}

.w5 {
  width: 245px; /* 49 * 5 */
}

.w6 {
  width: 294px; /* 49 * 6 */
}

.w7 {
  width: 343px; /* 49 * 7 */
}

.w10 {
  width: 490px; /* 49 * 10 */
}

.h2-half {
  height: 123px; /* 49 * 2,5 */
}

.h1 {
  height: 49px; /* 49 * 1 */
}

.h2 {
  height: 98px; /* 49 * 2 */
}

.h3 {
  height: 147px; /* 49 * 3 */
}

.h4 {
  height: 196px; /* 49 * 4 */
}

.h5 {
  height: 245px; /* 49 * 5 */
}

.h6 {
  height: 294px; /* 49 * 6 */
}
