.place {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  position: absolute;
}

.holmes-house {
  right: 2px;
  top: 2px;
  background-image: url(images/holmes-house.jpg);
  background-size: 150px 195px;
}

.museum {
  right: 248px;
  top: 52px;
  background-image: url(images/museum.jpg);
  background-size: 295px 202px;
  background-position: -3px 0px;
}

.bar {
  right: 101px;
  top: 297px;
  background-image: url(images/bar.jpg);
  background-size: 248px 147px;
}

.big-bang {
  right: 52px;
  top: 480px;
  background-image: url(images/big-bang.jpg);
  background-size: 295px 130px;
}

.drugstore {
  right: 52px;
  top: 609px;
  background-image: url(images/drugstore.jpg);
  background-size: 295px 130px;
}

.book-store {
  left: 298px;
  top: 1px;
  background-image: url(images/book-store.jpg);
  background-size: 218px 156px;
  background-position: -12px 0px;
}

.locksmith {
  left: 150px;
  top: 1px;
  background-image: url(images/locksmith.jpg);
  background-size: 148px 147px;
}

.key {
  left: 2px;
  top: 2px;
  background-image: url(images/key.jpg);
  background-size: 155px 148px;
}

.docks {
  left: 200px;
  top: 200px;
  background-image: url(images/docks.jpg);
  background-size: 293px 197px;
}

.bridge {
  left: 3px;
  top: 151px;
  background-image: url(images/bridge.jpg);
  background-size: 239px 196px;
}

.park {
  left: 395px;
  top: 348px;
  background-image: url(images/park.jpg);
  background-size: 295px 347px;
  background-position: 0px -50px;
}

.pawnshop {
  left: 542px;
  top: 249px;
  background-image: url(images/pawnshop.jpg);
  background-size: 150px 245px;
}

.theater {
  left: 395px;
  top: 642px;
  background-image: url(images/theater.jpg);
  background-size: 300px 150px;
}

.hotel {
  left: 53px;
  top: 395px;
  background-image: url(images/hotel.jpg);
  background-size: 150px 245px;
}

.cigar-shop {
  left: 201px;
  top: 395px;
  background-image: url(images/cigar-shop.jpg);
  background-size: 145px 250px;
}

.graveyard {
  left: 53px;
  top: 641px;
  background-image: url(images/graveyard.jpg);
  background-size: 292px 98px;
}

.carriage-station {
  left: 53px;
  top: 740px;
  background-image: url(images/carriage-station.jpg);
  background-size: 292px 144px;
}

.bank {
  left: 395px;
  top: 837px;
  background-image: url(images/bank.jpg);
  background-size: 345px 100px;
}

.street {
  left: 739px;
  top: 787px;
  background-image: url(images/street.jpg);
  background-size: 150px 150px;
}

.scotland-yard {
  left: 887px;
  top: 787px;
  background-image: url(images/scotland-yard.jpg);
  background-size: 245px 155px;
}
