#board {
  position: relative;
  width: 1127px;
  height: 930px;
  border: 1px solid #000;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-content: start;
  padding: 3px;

  background-color: #BA7039;
}
