#modal-notes .modal__container {
  width: 650px;
  height: 650px;
  z-index: 3;
}

#modal-notes .modal__btn {
  margin-right: 10px;
}

#modal-notes .modal__footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#modal-notes .notes__editor {
  width: 100%;
  height: 460px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  font-family: inherit;
  box-sizing: border-box;
}
