.square {
  width: 47px;
  height: 47px;
  background-color: #f5f2d0;
  border-radius: 5px;
  border: 1px solid #000;
  z-index: 2;
}

.square.empty {
  visibility: hidden;
}

.square.entrance,
.square.start {
  text-align: center;
}

.square.entrance i,
.square.start i {
  font-size: 24px;
  color: #000;
}

[data-direction="left"] {
  transform: rotate(-90deg);
}

[data-direction="right"] {
  transform: rotate(90deg);
}

[data-direction="down"] {
  transform: rotate(180deg);
}
